header {
	background-color: #579c87;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer a {
	font-family: 'montserrat', sans-serif;
	color: #fdcb46;
	font-size: 1.5em;
	text-decoration: none;
}

h1 {
	color: #fdcb46;
	font-size: 4em;
	font-family: 'montserrat', sans-serif;
}

#page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px 2px #656565;
}

.contact {
	animation: wiggle 2s infinite;
}

.mention {
	animation: wiggle 2s infinite;
}

@keyframes wiggle { 
 
    0% { transform: rotate(0deg); } 
 
    80% { transform: rotate(0deg); } 
 
    85% { transform: rotate(5deg); } 
 
    95% { transform: rotate(-5deg); } 
 
    100% { transform: rotate(0deg); } 
 
} 

.traits {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.soulignement {
	position: relative;
	height: 30px;
}
.soulignement::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: .3s ease-in-out;
}
.soulignement:hover::after {
  transform: scaleX(1);
}

h3 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
}


#footerfix {
	background-color: #579c87;
	width: 100%;
	height: 70px;
	position: fixed;
	bottom: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
	box-sizing: border-box;
}

li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 35px;
	list-style-type: none;
	font-size: 19px;
}

ul {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


@media screen and (max-width: 767px) {
	
	body header {
		height: 80px;
	}
	
	body {
		width: 100%;
		height: 100%;
		margin: auto;
		box-sizing: border-box;
	}
	
	
	#footerfix {
		width: 100%;
		height: 50px;
		box-sizing: border-box;
		padding: 5px;
	}
	
	.trait {
		width: 80px;
		height: 3px;
	}
	
	header h1 {
		font-size: 55px;
	}
	
	li {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		font-size: 15px;
		
	}
	
	section .menu {
		width: 98%;
		margin: auto;
	}
	
	.contact, .mention {
		font-size: 16px
	}
	
	h3 {
		font-size: 15px;
		text-align: center;
		height: 20px;
	}
	
	.soulignement {
		height: 20px;
	}
		
	#page {
		padding: 5px;
	}
}


