#page header {
	box-sizing: border-box;
	width: 600px;
	height: 100px;
	display: flex;
	background-color: #fcdfdb;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 1em;
}

header i {
	box-sizing: border-box;
	font-size: 3em;
	margin-top: 60px;
	background: -webkit-gradient(linear, left bottom, right bottom, from(#fe0d15), to(#fa7b4a));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


ul {
	width: 550px;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

li, p {
	color: #3d1319;
	font-family: 'Neucha', cursive;
}

#page footer {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	margin-bottom: 20px;
	box-sizing: border-box;
}

footer i {
	margin-right: 8px;
	background: -webkit-gradient(linear, left bottom, right bottom, from(#fe0d15), to(#fa7b4a));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}

h3 {
	color: #3d1319;
	font-family: 'Neucha', cursive;
	width: 200px;
}

h2 {
	font-family: 'Devonshire', cursive;
	color: #3d1319;
	font-size: 2em;
	height: 20px;
}

.prix {
	font-weight: bold;

}

main h1 {
	font-size: 3em;
	color: black;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


main {
	height: 1200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 60px;
	box-sizing: border-box;
}

#page {
	width: 700px;
	height: 900px;
	background-color: #fcdfdb;
}


.trait {
	width: 200px;
	height: 5px;
}

.soulignement::after {
	background: #3d1319;
}

/*=========================================================== Responsive design ==================================================*/


@media screen and (max-width: 767px) {
	#page {
		width: 97%;
		height: 1200px;
		margin: auto;
		box-sizing: border-box;
	}
	
	h2 {
		margin: 0;
	}
	
	header h2 {
		width: 100%;
		text-align: center;
	}
	
	section {
		width: 100%;
	}
	
	#page header {
		width: 100%;
		margin-bottom: 30px;
	}
	
	main h1 {
		font-size: 30px;
		text-align: center;
	}
	
	li {
		margin-bottom: 30px;
	}
	

}

/*======================================================= Fin responsive =========================================================*/

/*====================================================== Adaptation couleur IE ===================================================*/

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	
	#page header {
		height: 200px;
	}
	
	i {
		color: #fa7b4a;
	}
     
}
