
#page header {
	box-sizing: border-box;
	width: 600px;
	height: 100px;
	display: flex;
	background-color: #fcdfdb;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 1em;
}

header i {
	box-sizing: border-box;
	font-size: 3em;
	margin-top: 60px;
	background: -webkit-gradient(linear, left bottom, right bottom, from(#fe0d15), to(#fa7b4a));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.soulignement {
	position: relative;
	height: 25px;

}
.soulignement::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: #3d1319;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: .3s ease-in-out;
}
.soulignement:hover::after {
  transform: scaleX(1);
}
#page footer {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	margin-bottom: 20px;
	box-sizing: border-box;
}

footer i {
	margin-right: 8px;
	background: -webkit-gradient(linear, left bottom, right bottom, from(#fe0d15), to(#fa7b4a));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}

p {
	color: #3d1319;
	font-family: 'Neucha', cursive;
}

section h3 {
	color: #3d1319;
	font-family: 'Neucha', cursive;
	width: 200px;
}

h2 {
	font-family: 'Devonshire', cursive;
	color: #3d1319;
	font-size: 2em;
	height: 20px;

}

.prix {
	font-weight: bold;

}

.menu p {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


#footerfix {
	background-color: #579c87;
	width: 100%;
	height: 70px;
	position: fixed;
	bottom: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
	box-sizing: border-box;
}

main h1 {
	font-size: 3em;
	color: black;
}

section .menu {
	width: 600px;
}

main {
	height: 1200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 60px;
	box-sizing: border-box;
}

#page {
	width: 700px;
	height: 900px;
	background-color: #fcdfdb;
}


.trait {
	width: 200px;
	height: 5px;
}






@media screen and (max-width: 767px) {
	#page {
		width: 97%;
		height: 1200px;
		margin: auto;
		box-sizing: border-box;
	}
	
	body {
		width: 100%;
		height: 100%;
		margin: auto;
		box-sizing: border-box;
	}
	
	h2 {
		margin: 0;
	}
	
	header h2 {
		width: 100%;
		text-align: center;
	}
	
	
	#footerfix a {
		font-size: 15px;
	}
	
	#footerfix {
		width: 100%;
		height: 50px;
		box-sizing: border-box;
		padding: 5px;
	}
	
	section {
		width: 100%;
	}
	
	#page header {
		width: 100%;
		margin-bottom: 30px;
	}
	
	header h1 {
		font-size: 55px;
	}
	
	
	main h1 {
		font-size: 30px;
		text-align: center;
	}
	
	section .menu {
		width: 98%;
		margin: auto;
	}
	
	p {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		
	}
	
	.trait {
		width: 80px;
		height: 3px;
	}
	

}