
#page {
	width: 720px;
	height: 850px;
	padding-bottom: 40px;
	background-color: #fff5fe;
}

#page header {
	background-color: #fff5fe;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	font-family: cursive;
	margin-top: 30px;
}

main {
	height: 1200px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}


.appetit {
	display: flex;
	flex-direction: column;
	color: #c67412;
	width: 600px;
}

.titre1 {
	color: #c67412;
}


.plaisir {
	display: flex;
	flex-direction: column;
	color: #a56799;
	width: 600px;
}

.titre2 {
	color: #a56799;
}

.gourmandise {
	display: flex;
	flex-direction: column;
	color: #6e4ccc;
	width: 600px;
}

.titre3 {
	color: #6e4ccc;
}

h3 {
	width: 100%;
	height: 30px;
	font-size: 22px;
}

h2 {
	font-family: 'Croissant one', serif;
	background: linear-gradient(to right, #db8528 0%,#8f5bfe 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


li {
	font-size: 19px;
}
section {
	width: 700px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.trait {
	width: 200px;
	height: 8px;
}

.soulignement::after {
	background: #b36f99;
}

/*=========================================================== Responsive design ==================================================*/


@media screen and (max-width: 767px) {
	
	.plaisir, .appetit, .gourmandise {
		width: 100%;
	}
			
	main {
		height: 1000px;
	}
	
	#page {
		height: 900px;
		margin-top: -50px;
		width: 97%;
		box-sizing: border-box;
	}
	
	#page header {
		width: 100%;
		margin-bottom: 0;
	}
	
	section {
		margin-bottom: 30px;
		width: 100%;
	}
		
	header h2 {
		width: 100%;
		text-align: center;
	}
	
	li {
		margin-bottom: 30px;
	}
	
	
}
/*=========================================================== Fin responsive ==================================================*/

/*======================================================== Adaptation couleur IE ===================================================*/

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	
	h2 {
		color: #b36f99;
		background: none;
	}
     
}
