
#page header {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	color: #4995f2;
	font-family: cursive;
	margin-top: 30px;
	margin-bottom: 60px;
	background-color: #edefef;
}

#page {
	width: 700px;
	background-color: #edefef;
	height: 900px;
}

h3 {
	width: 100%;
	font-family: 'Kalam', cursive;
}

.menu {
	width: 570px;
}
section {
	width: 750px;
	margin-bottom: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.prix {
	font-weight: bold;
}

li {
	font-family: 'Kalam', cursive;
}

h2 {
	display: flex;
	font-size: 2.5em;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-family: 'Dancing Script', cursive;
	background: linear-gradient(to right, #0229dd 0%, #0889fb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main {
	height: 1200px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 60px;
}

section {
	width: 600px;
	height: 200px;
	margin-bottom: 50px;
}

.trait {
	width: 190px;
}

.soulignement::after {
	background: #0555eb;
}
/*=========================================================== Responsive design ==================================================*/


@media screen and (max-width: 767px){
	
	h2 {
		font-size: 40px;
		width: 100%;
		text-align: center;
	}
				
	main {
		height: 1000px;
		padding-bottom: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	#page {
		height: 950px;
		width: 97%;
	}
	
	section {
		height: 250px;
		margin: 0;
		width: 100%;
	}
			
	#page header {
		width: 100%;
		margin: 0;
	}
	
	li {
		margin-bottom: 35px;
	}
		
}

/*=========================================================== Fin responsive design ==================================================*/

/*=========================================================== Adaptation couleur IE ===================================================*/

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	
	h2 {
		background: none;
	}
     
}