
#page header {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	color: #4995f2;
	font-family: cursive;
	margin-top: 30px;
	margin-bottom: 60px;
	background-color: #edefef;
}

#page {
	width: 700px;
	background-color: #edefef;
	height: 900px;
}

h3 {
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	font-family: 'Kalam', cursive;
}
.soulignement {
	position: relative;
	height: 28px;

}
.soulignement::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: #0229dd;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: .3s ease-in-out;
}
.soulignement:hover::after {
  transform: scaleX(1);
}
.menu {
	width: 500px;
}
section {
	width: 750px;
	margin-bottom: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.prix {
	font-weight: bold;
}

.menu p {
	font-family: 'Kalam', cursive;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

footer {
	background-color: #579c87;
	width: 100%;
	height: 70px;
	position: fixed;
	bottom: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
	box-sizing: border-box;
}

h2 {
	display: flex;
	font-size: 2.5em;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-family: 'Dancing Script', cursive;
	background: linear-gradient(to right, #0229dd 0%, #0889fb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
	color: #fdcb46;
	font-size: 4em;
	font-family: 'montserrat', sans-serif;
}

a {
	text-decoration: none;
}

main {
	height: 1200px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 60px;
}

section {
	width: 600px;
	height: 200px;
	margin-bottom: 50px;
}

p {
	font-family: cursive;
}

#traits {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.trait {
	width: 190px;
}