
#page header {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	color: #4995f2;
	font-family: cursive;
	margin-top: 30px;
	margin-bottom: 60px;
	background-color: #edefef;
}

#page {
	width: 700px;
	background-color: #edefef;
	height: 900px;
	box-shadow: 0px 0px 10px 2px #656565;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}


h3 {
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	font-family: 'Kalam', cursive;
}

.menu {
	width: 500px;
}
section {
	width: 750px;
	margin-bottom: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.prix {
	font-weight: bold;
}

.menu p {
	font-family: 'Kalam', cursive;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header {
	background-color: #579c87;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer {
	background-color: #579c87;
	width: 100%;
	height: 70px;
	position: fixed;
	bottom: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
	box-sizing: border-box;
}

footer a {
	font-family: 'montserrat', sans-serif;
	color: #fdcb46;
	font-size: 1.5em;
	text-decoration: none;
}

h2 {
	display: flex;
	font-size: 2.5em;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-family: 'Dancing Script', cursive;
	background: linear-gradient(to right, #0229dd 0%, #0889fb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

h1 {
	color: #fdcb46;
	font-size: 4em;
	font-family: 'montserrat', sans-serif;
}

a {
	text-decoration: none;
}

main {
	height: 1200px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 60px;
}


section {
	width: 600px;
	height: 200px;
	margin-bottom: 50px;
}

p {
	font-family: cursive;
}

.contact {
	animation: wiggle 2s infinite;
}

.mention {
	animation: wiggle 2s infinite;
}

@keyframes wiggle { 
 
    0% { transform: rotate(0deg); } 
 
    80% { transform: rotate(0deg); } 
 
    85% { transform: rotate(5deg); } 
 
    95% { transform: rotate(-5deg); } 
 
    100% { transform: rotate(0deg); } 
 
}

.titre1::before {
	content: url(image/BG.png)
}

.titre1::after {
	content: url(image/BD.png)
}

.titre2::before {
	content: url(image/BCG.png)
}
.titre2::after {
	content: url(image/BCD.png)
}
.titre3::before {
	content: url(image/CG.png)
}
.titre3::after {
	content: url(image/CD.png)
}